.notBlock {
    display: none;
}

::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
    /* display: none; */
    /* Ocultar scroll */
}


/* Ponemos un color de fondo y redondeamos las esquinas del thumb */

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}


/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}


/* Cambiamos el fondo cuando esté en active */

::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}


/* Ponemos un color de fondo y redondeamos las esquinas del track */

::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}


/* Cambiamos el fondo cuando esté en active o hover */

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

#divLoading {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(254, 254, 255, 0.65);
    z-index: 9999;
    display: none;
}

.Loading {
    max-height: 330px !important;
}

.CambiarPass {
    max-height: 380px !important;
}

#divLoading img {
    width: 50px;
    height: 50px;
}

.divLoadingformPerfil {
    display: none;
    background: blue !important;
    width: 100% !important;
    height: 100% !important;
}

textarea.form-control {
    height: 120px;
}

.col-md-6 {
    margin-bottom: 10px;
}

.prevPhoto {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ced4da;
    height: 213px;
    border-radius: 0.25rem;
    position: relative;
    cursor: pointer;
    /*     background: url(../img/imgUploads/portada_categoria.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: auto;
}

.prevPhoto label {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.prevPhoto img {
    width: 100%;
    height: 100%;
}

.upimg,
.notBlock {
    display: none !important;
}

.errorArchivo {
    font-size: 16px;
    font-family: arial;
    color: #dc3545;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.delPhoto {
    color: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #dc3545;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 10;
}

#tbl_list_productos img {
    width: 50px;
}

.imgProductoDelete {
    width: 175px;
}

#cellUrl_portada {
    text-align: center;
}

#cellUrl_portada img {
    width: 180px;
    margin: auto;
}

.tox-tinymce {
    border-radius: 0.25rem;
    min-height: 200px;
}

.notblock {
    display: none;
}

.textcenter {
    text-align: center;
}

.textright {
    text-align: right;
}

.textleft {
    text-align: left;
}


/*     subir foto de productos */

#containerImages {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

#containerImages>div {
    margin-right: 10px;
    margin-bottom: 8px;
}

.prevImage {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prevImage img {
    width: 100%;
}

.inputUploadfile {
    display: none;
}

.btnUploadfile,
.btnDeleteImage {
    border: 0px;
    background-color: #28a745;
    text-align: center;
    padding: 2px, 3px;
    color: #fff;
    font-size: 12pt;
    cursor: pointer;
    width: 100%;
}

.btnDeleteImage {
    background-color: #dc3545;
}

.prevImage .loading {
    width: 40px;
    height: 40px;
}

#cellFotos img {
    width: 150px;
    margin: 10px;
}


/* Tienda Virual */

#divmetodpago label,
#divCondiciones {
    width: 100%;
    display: flex;
}

#divmetodpago label input,
#divCondiciones input {
    margin-right: 15px;
}

.modal {
    z-index: 9999;
}

#divCondiciones label {
    margin-bottom: 0;
}

#divCondiciones a {
    margin-left: 5px;
}

#body {
    padding-right: 0px !important;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.dflex input {
    margin-right: 10px;
}

.dflex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#verPass {
    cursor: pointer;
    /* background-color: aqua; */
    padding: 10px 0px 10px 10px;
}

.msj {
    margin-top: 5px;
}

.msj p {
    margin: 0;
    font-size: 13px !important;
}